defaults
    mode http
    timeout client 60s
    timeout connect 10s
    timeout server 100s

# frontend - client traffic
frontend client
    bind *:80


    acl is_center hdr_beg(host) -i center. # center.stamford.dev
    acl is_prometheus hdr_beg(host) -i prometheus. # prometheus.stamford.dev
    
    use_backend center-fe if is_center
    use_backend prometheus if is_prometheus

# backend - where haproxy sends traffic to
backend center-fe
    server fe1 frontend:3000

backend prometheus
    server prom prometheus:9090
